@import url('./login-style.css');
.auth__social__options{
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
}

.social__option{
    width: 95%;
    height: 42px;
    /* border: 1px solid black; */
    border-radius: 50px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    color: white;
}

.auth__welcome h1{
    color: #253238;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: normal;
    font-family: Wallie,Helvetica;
}

.auth__welcome span{
    font-size: .875rem;
    color: #607d8b;
    line-height: normal;
    font-family: Wallie,Helvetica;
}

.social__option__google{
    background: #dd4b39;
}

.social__option__github{
    background: #424242;
}

.auth__local__options{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth__local__options__info{
    font-size: .875rem;
    color: #607d8b;
    line-height: normal;
    margin-bottom: 20px;
}

.local__options__canvas{
    width: 70%;
    display: flex;
    justify-content: space-around;
}

.local__options__canvas__btn {
    background-color: unset;
    margin-bottom: 20px;
    font-size: 1.25rem;
    color: #13c1ac;
    font-weight: 700;
    cursor: pointer;
}

.auth_separator__veritcal{
    margin: 0 32px;
    border: 1px solid #13c1ac;
}