<div id="modal-auth" class="modal active-modal"> <!--class = modal-auth-->
    <h1>LOGIN!</h1>
    <h5>Write your info</h5>

    <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
        <input type="email"     formControlName="email"       id="login_email"     class="input_form_login" placeholder="Email..">
        <input type="password"  formControlName="password"    id="login_password"  class="input_form_login" placeholder="Password..">
        <button type="submit"   [disabled]="!loginForm.valid"  id="btn_login_account" class="btn_login_account">Log In</button>
    </form>
</div>