@import url('./login-style.css');

.auth__social__options{
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
}

.social__option{
    width: 90%;
    height: 50px;
    border: 1px solid black;
    border-radius: 50px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth__local__options{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth__local__options__info{
    font-size: .875rem;
    color: #607d8b;
    line-height: normal;
    margin-bottom: 20px;
}

.local__options__canvas{
    width: 70%;
    display: flex;
    justify-content: space-around;
}

.local__options__canvas__btn {
    background-color: unset;
    margin-bottom: 20px;
    font-size: 1.25rem;
    color: #13c1ac;
    font-weight: 700;
    cursor: pointer;
}

.auth_separator__veritcal{
    margin: 0 32px;
    border: 1px solid #13c1ac;
}