<!-- <div id="modal-register-canvas" class="hide-modal">
    <div class="background_modal--black" (click)="hideModal()"></div>
    <div id="modal-register" class="modal">
        <h1>Log in to our app!</h1>
        
    </div>
</div> -->

<div id="modal-auth" class="modal active-modal"> <!--class = modal-auth-->
    <h1>Register!</h1>
    <h5>Write your info</h5>
    <a class="btn--back" (click)="go_back()"><i class="fas fa-angle-double-left"></i></a>
    <a class="btn--close" (click)="close()"><i class="fas fa-times"></i></a>
    <form [formGroup]="registerForm" (ngSubmit)="registerSubmit()">
        <input type="text"      formControlName="username"    id="register_username"  class="input_form_register" placeholder="Username..">
        <input type="email"     formControlName="email"       id="register_email"     class="input_form_register" placeholder="Email..">
        <input type="password"  formControlName="password"    id="register_password"  class="input_form_register" placeholder="Password..">
        <button type="submit"   [disabled]="!registerForm.valid"  id="btn_create_account" class="btn_create_account"     >Create account</button>
    </form>
</div>