.profile-section{
    box-sizing: border-box;
    width: 100%;
    max-height: calc(100vh - 66px);
    padding: 50px 120px 70px 60px;
    background-color: #fcfcfc;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile-sidebar{
    box-sizing: border-box;
    width: 400px;
    height: 100%;
    padding: 0px 70px 0px 70px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
}

.profile-content{
    /* border: 1px solid black; */
    width: 100%;
    padding: 0px 30px 0px 70px;
}