<article class="product_preview">
    <!-- [routerLink]="['/product/',product.Slug]" -->
    <section class="product_preview__img" [routerLink]="['/product/',product.Slug]">
        <img src="{{product.Images}}" alt="far cry" onerror='this.src="https://image.api.playstation.com/cdn/EP0001/CUSA05847_00/6SOISQ9M0FkHf52a4iHcO5OLDKMtjzhj.png";'>
    </section>
    <section class="product_preview__data">
        <span class="product_preview__data__price">{{product.Price}} €</span>
        <span class="product_preview__data__title">{{product.Name}}</span>
        <span class="product_preview__data__description"></span>
    </section>
    <section class="product_preview__actions">
        <div class="product_preview__actions__item product_preview__actions__mg">
            <div class="product_preview__actions__mg__canvas">
                <i class="far fa-heart"></i>
            </div>
        </div>
        <div class="product_preview__actions__item product_preview__actions__msg">
            <div class="product_preview__actions__msg__canvas">
                <i class="far fa-comment-dots"></i>
            </div>
        </div>
    </section>
</article>
