.product_preview{
    box-sizing: border-box;
    width: 210px;
    height: 320px;
    /* border: 1px solid black; */
    margin: 10px;
    border-radius: 15px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.400);
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.product_preview:hover{
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.462);

}

.product_preview__img{
    width: 100%;
    height: 200px;
    padding: 10px;
    box-sizing: border-box;
    /* border: 1px solid black; */
    /* background-color: blue; */
}

.product_preview__img img{
    overflow: hidden;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.400);

    border-radius: 5px;
    width: 100%;
}

.product_preview__data{
    /* height: ; */
    padding: 10px 15px 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product_preview__data__price{
    font-family: EncodeSans-Medium;
    color: rgb(34, 34, 34);
    font-size: 22px;
    margin-bottom: 8px;
}

.product_preview__data__title{
    font-family: CooperHewitt-Medium;

    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.product_preview__actions{
    width: 100%;
    height: 100%;
    /* border-top: 1px solid rgb(210, 210, 210); */
    display: flex;
    flex-direction: row;
}

.product_preview__actions__item{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.product_preview__actions__mg__canvas{
    border-radius: 50px;
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 50ms;
}

.product_preview__actions__mg{
    /* border-right: 1px solid rgb(210, 210, 210); */
    color: rgb(231, 67, 67);
    background-color: white;
}

.product_preview__actions__mg__canvas:hover{
    background-color: rgb(236, 169, 169);
    /* box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.007); */

}

.product_preview__actions__msg__canvas{
    /* background-color: #c0ebe6; */
    border-radius: 50px;
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product_preview__actions__msg__canvas:hover{
    background-color: #c0ebe6;
}

.product_preview__actions__msg{
    color: #13C1AC;
}
