<article class="product_preview">
    <section class="product_preview__img">
        <img src="https://image.api.playstation.com/cdn/EP0001/CUSA05847_00/6SOISQ9M0FkHf52a4iHcO5OLDKMtjzhj.png" alt="far cry">
    </section>
    <section class="product_preview__data">
        <span class="product_preview__data__price">5 €</span>
        <span class="product_preview__data__title">Far Cry 5 Premium Edition</span>
        <span class="product_preview__data__description"></span>
    </section>
    <section class="product_preview__actions">
        <div class="product_preview__actions__item product_preview__actions__mg">
            <i class="far fa-heart"></i>
        </div>
        <div class="product_preview__actions__item product_preview__actions__msg">

        </div>
    </section>
</article>
