<form [formGroup]="userForm">
    <div class="user user--edit">
        <div class="user__left">
            <div class="user__editor__field">
                <label for="username_user">Username:</label>
                <input type="text" name="Username" formControlName="Username">
            </div>
            <div class="user__editor__field">
                <label for="email_user">Email:</label>
                <input type="text" name="Email" formControlName="Email">
            </div>
            <div class="user__editor__field">
                <label for="image_user">Image:</label>
                <input type="text" name="Image" formControlName="Image">
            </div>
            <div class="user__editor__field">
                <label for="type_user">Type:</label>
                <input type="text" name="Type" formControlName="Type">
            </div>
        </div>
        <div class="user__right">
            <button class="user-option--{{type}}" (click)="submitForm($event)">
                <i class="ion-trash-a"></i> {{type}} user
            </button>
        </div>
    </div>
</form>
