<div class="user">
    <div class="user__left" >
        <img src="{{user.Image}}" alt="{{user.Username}}" onerror='this.src="https://cdn2.iconfinder.com/data/icons/documents-and-files-v-2/100/doc-03-512.png";'/>
        <span>{{user.Username}}</span>&nbsp;&nbsp;&nbsp;
        <span>{{user.Email}}</span>
    </div>
    <div class="user__right">
        <div class="user__right__options">
            <button class="user-option--edit">
                <i class="ion-trash-a"></i> Edit User
            </button>
            <button class="user-option--delete">
                <i class="ion-trash-a"></i> Delete User
            </button>
        </div>
    </div>
</div>
<!-- <app-editor-user [item]="user" style="display: none; transition: 0.5s;"></app-editor-user> -->
