<form [formGroup]="awardForm">
    <div class="award award--edit">
        <div class="award__left">
            <div class="award__editor__field">
                <label for="name_award">Name:</label>
                <input type="text" name="name" formControlName="name">
            </div>
            <div class="award__editor__field">
                <label for="description_award">Description:</label>
                <input type="text" name="description" formControlName="description">
            </div>
            <div class="award__editor__field">
                <label for="image_award">Image:</label>
                <input type="text" name="image" formControlName="image">
            </div>
        </div>
        <div class="award__right">
            <button class="award-option--{{type}}" (click)="submitForm($event)">
                <i class="ion-trash-a"></i> {{type}} Award
            </button>
        </div>
    </div>
</form>
