<div class="award__list">
    <div class="award">
        <div class="award__left">
            Award
        </div>
        <div class="award__right">
            <div class="award__right__options">
                Award Options
            </div>
        </div>
    </div>
    <br>
    <!-- <div class="award award--edit">
        <div class="award__left">
            <div class="award__editor__field">
                <label for="name_award">Name:</label>
                <input type="text" name="name_award" id="name_award">
            </div>
            <div class="award__editor__field">
                <label for="description_award">Description:</label>
                <input type="text" name="description_award" id="description_award">
            </div>
            <div class="award__editor__field">
                <label for="image_award">Image:</label>
                <input type="text" name="image_award" id="image_award">
            </div>
        </div>
        <div class="award__right">
            <button class="award-option--delete">
                <i class="ion-trash-a"></i> Create Award
            </button>
        </div>
    </div> -->

    <app-editor-award (item)="func()"></app-editor-award>
    <app-award-preview *ngFor="let x of allAwards" [award]="x" (refresh_list)="runQuery()"></app-award-preview>
</div>
