/* You can add global styles to this file, and also import other style files */
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

a {
    text-decoration: none;
    color: unset;
}

html *, input {
    font-family: Wallie,Helvetica;
}

button{
    outline: none;
    border: none;
    
}
body {
    position: relative;
    box-sizing: border-box;
    /* width: 100%; */
    min-height: 100vh;
}