
<section class="admin">
    <h1>ADMIN PANEL</h1>
    <div class="admin__options">
        <button class="admin__options__boton--editor" routerLink="awards">Awards</button>
        <button class="admin__options__boton--editor" routerLink="awards">Awards</button>
        <button class="admin__options__boton--editor" routerLink="awards">Awards</button>
        <button class="admin__options__boton--editor" routerLink="awards">Awards</button>
        <button class="admin__options__boton--editor" routerLink="awards">Awards</button>
    </div>

    <!-- <root-panel-admin></root-panel-admin> -->
    <!-- <router-outlet></router-outlet> -->
</section>

