<aside class="profile_sidebar">
    <section class="profile_sidebar__info">
        <div class="profile_sidebar__info__img">
            <img src="{{profile.image}}" alt="">
        </div>
        <h1>{{profile.username}}</h1>
        <!-- <small>{{profile.bio}}</small> -->
        <button *ngIf="[checkCurrentUser]=='false' && [profile.following]=='false'" class="follow_btn" [profile]="profile" (click)="followUser($event)">Follow</button>
        <button *ngIf="[checkCurrentUser]=='false' && [profile.following]=='true'" class="follow_btn following" [profile]="profile" (click)="unfollowUser($event)">Unfollow</button>

        <div class="profile_sidebar__info__stats">
            <div>
                <span>23</span>
                <span class="profile_sidebar__info__stats__type">Products</span>
            </div>
            <div>
                <span>12K</span>
                <span class="profile_sidebar__info__stats__type">Followers</span>
            </div>
            <div>
                <span>17</span>
                <span class="profile_sidebar__info__stats__type">Awards</span>
            </div>
        </div>
    </section>
    <hr style="width: 100%;">
    <nav class="profile_sidebar__nav">
        <a routerLink="dashboard" class="profile_sidebar__nav__item profile_sidebar__nav__item--toggled">Dashboard</a>
        <a routerLink="products" class="profile_sidebar__nav__item">Products</a>
        <a routerLink="dashboard" class="profile_sidebar__nav__item">Favorites</a>
        <!-- <a routerLink="dashboard" class="profile_sidebar__nav__item">Following</a> -->
        <!-- <a routerLink="dashboard" class="profile_sidebar__nav__item">Awards</a> -->
        <a routerLink="settings" *ngIf="[checkCurrentUser]=='true'" class="profile_sidebar__nav__item">Settings</a>
        <a class="profile_sidebar__nav__item" *ngIf="[checkCurrentUser]=='true'" (click)="logout()">Log out</a>
    </nav>
</aside>