.profile_sidebar{
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    font-family: CooperHewitt;
    padding-top: 20px;
}

.profile_sidebar__info{
    height: 55%;
    min-height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
}

.profile_sidebar__info__img{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    overflow: hidden;
    /* margin-bottom: 30px; */
}

.profile_sidebar__info__img img{
    width: 100%;
}

.profile_sidebar__info h1{
    width: 100%;
    text-align: center;
    font-family: EncodeSans;
    font-size: 28px;
    /* color: grey; */
}

.follow_btn{
    font-family: EncodeSans-Medium;
    font-weight: bold;
    font-size: 12px;
    height: 26px;
    width: 75px;
    border-radius: 50px;
    /* background-color: #12c1ac; */
    background-color: white;
    border: 2px solid #12c1ac;
    color: rgb(30, 30, 30);  
    margin-bottom: 5px; 
}

.follow_btn:hover{
    background-color: #d8f5f2;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.400);
}

.profile_sidebar__info__stats{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.profile_sidebar__info__stats div{
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile_sidebar__info__stats div span:first-child{
    font-family: CooperHewitt-Bold;
    font-weight: bold;
    font-size: 22px;
    color: rgb(30, 30, 30);
    margin-bottom: -5px;
}

.profile_sidebar__info__stats__type{
    font-family: EncodeSans;
    font-size: 14px;
}

.profile_sidebar__nav{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 0px 0px 10px;
}

.profile_sidebar__nav__item{
    font-family: EncodeSans;
    font-size: 24px;
    margin-bottom: 12px;
    color: rgb(100, 100, 100);
    transition: 0.1s;
}

.profile_sidebar__nav__item:hover{
    font-family: EncodeSans;
    font-weight: bold;
    color: rgb(50, 50, 50);
    /* margin-bottom: 10px; */
}

.profile_sidebar__nav__item--toggled{
    font-family: EncodeSans;
    font-weight: bold;
    color: rgb(50, 50, 50);
    margin-bottom: 10px;
}