<section class="dashboard-profile">
    <header class="dashboard-banner">
        <h1>{{profile.username}}</h1>
        <!-- <small>{{profile.bio}}</small> -->
        <!-- <img src="https://images.unsplash.com/photo-1549880338-65ddcdfd017b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt=""> -->
        <!-- <img src="{{profile.banner}}" alt="" onerror='this.src="https://images.unsplash.com/photo-1549880338-65ddcdfd017b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80";'> -->
        <img src="https://images.unsplash.com/photo-1549880338-65ddcdfd017b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="" onerror='this.src="https://images.unsplash.com/photo-1549880338-65ddcdfd017b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80";'>
    
    </header>
    
    <section class="dashboard-profile-content">
        <section class="dashboard_section dashboard_section--products">
            <h1>{{profile.username}} Products</h1>
            <app-product-list [config]="config"></app-product-list>
        </section>
        <aside class="dashboard_section dashboard_section--info">
        </aside>
    </section>
</section>