<!-- <button class="admin__options__boton--editor" routerLink="awards">Awards</button>
<button class="admin__options__boton--editor" routerLink="awards">Users</button>
<button class="admin__options__boton--editor" routerLink="awards">Categories</button>
<button class="admin__options__boton--editor" routerLink="awards">Products</button>
<button class="admin__options__boton--editor" routerLink="awards">Favorites</button> -->
<div class="admin-sidebar">
    <a class="admin-sidebar__option" routerLink="users">
        <div class="admin-sidebar__option--circle">
            <i class="fas fa-users"></i>
        </div>
        <span>Users</span>
    </a>
    <a class="admin-sidebar__option" routerLink="awards">
        <div class="admin-sidebar__option--circle">
            <i class="fas fa-award"></i>
        </div>
        <span>Awards</span>
    </a>
    <!-- <a class="admin-sidebar__option" routerLink="awards/editor">
        <div class="admin-sidebar__option--circle">
            <i class="fas fa-award"></i>
        </div>
        <span>Awards</span>
    </a> -->
    <a class="admin-sidebar__option" routerLink="subscriptions">
        <div class="admin-sidebar__option--circle">
            <i class="fas fa-id-card"></i>
        </div>
        <span>Subscriptions</span>
    </a>
    <a class="admin-sidebar__option">
        <div class="admin-sidebar__option--circle">
            <i class="fas fa-users"></i>
        </div>
        <span>Categories</span>
    </a>
    <a class="admin-sidebar__option">
        <div class="admin-sidebar__option--circle">
            <i class="fas fa-list"></i>
        </div>
        <span>Products</span>
    </a>
</div>
