<!-- <button class="admin__options__boton--editor" routerLink="awards">Awards</button>
<button class="admin__options__boton--editor" routerLink="awards">Users</button>
<button class="admin__options__boton--editor" routerLink="awards">Categories</button>
<button class="admin__options__boton--editor" routerLink="awards">Products</button>
<button class="admin__options__boton--editor" routerLink="awards">Favorites</button> -->
<a class="admin-sidebar__option" routerLink="dashboard">
    <div class="admin-sidebar__option--circle">
        <i class="fas fa-chart-line"></i>
    </div>
    <span>Dashboard</span>
</a>
<div class="admin-sidebar">
    <a class="admin-sidebar__option" routerLink="users">
        <div class="admin-sidebar__option--circle">
            <i class="fas fa-users"></i>
        </div>
        <span>Users</span>
    </a>
    <a class="admin-sidebar__option" routerLink="awards">
        <div class="admin-sidebar__option--circle">
            <i class="fas fa-award"></i>
        </div>
        <span>Awards</span>
    </a>
    <!-- <a class="admin-sidebar__option" routerLink="awards/editor">
        <div class="admin-sidebar__option--circle">
            <i class="fas fa-award"></i>
        </div>
        <span>Awards</span>
    </a> -->
    <a class="admin-sidebar__option" routerLink="subscriptions">
        <div class="admin-sidebar__option--circle">
            <i class="fas fa-id-card"></i>
        </div>
        <span>Subscriptions</span>
    </a>

</div>
